#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: true,
    draw_borders: true,
    browser_column_widths: [20, 38, 42],
    modal_backdrop: true,

    text_color: "{{foreground}}",
    header_background_color: None,
    background_color: None,
    modal_background_color: None,

    preview_label_style: (fg: "{{color13}}"),
    preview_metadata_group_style: (fg: "{{color12}}"),

    tab_bar: (
        active_style: (fg: "{{background}}", bg: "{{color4}}", modifiers: "Bold"),
        inactive_style: (fg: "{{foreground}}", bg: None, modifiers: ""),
    ),

    highlighted_item_style: (fg: "{{color10}}", modifiers: "Bold"),
    current_item_style: (fg: "{{background}}", bg: "{{color4}}", modifiers: "Bold"),

    borders_style: (fg: "{{color4}}", modifiers: "Bold"),
    highlight_border_style: (fg: "{{color4}}"),

    symbols: (
        song: "󰝚 ",
        dir: " ",
        playlist: "󰲸 ",
        marker: "* ",
        ellipsis: "..."
    ),

    progress_bar: (
        symbols: ["█", "█", "█", "█", "█"],
        track_style: (fg: "{{color0}}"),
        elapsed_style: (fg: "{{color4}}"),
        thumb_style: (fg: "{{color4}}"),
    ),

    scrollbar: (
        symbols: ["", "", "", ""],
        track_style: (fg: "{{color4}}"),
        ends_style: (fg: "{{color4}}"),
        thumb_style: (fg: "{{color4}}"),
    ),

    song_table_format: [
        (
            prop: (
                kind: Property(Artist),
                style: (fg: "{{color4}}"),
                default: (
                    kind: Text("Unknown"),
                    style: (fg: "{{color13}}")
                )
            ),
            width: "20%",
        ),
        (
            prop: (
                kind: Property(Title),
                style: (fg: "{{color12}}"),
                highlighted_item_style: (fg: "{{foreground}}", modifiers: "Bold"),
                default: (
                    kind: Property(Filename),
                    style: (fg: "{{foreground}}")
                )
            ),
            width: "35%",
        ),
        (
            prop: (
                kind: Property(Album),
                style: (fg: "{{color4}}"),
                default: (
                    kind: Text("Unknown Album"),
                    style: (fg: "{{color13}}")
                )
            ),
            width: "30%",
        ),
        (
            prop: (
                kind: Property(Duration),
                style: (fg: "{{color12}}"),
                default: (kind: Text("-"))
            ),
            width: "15%",
            alignment: Right,
        ),
    ],

    header: (
        rows: [
            (
                left: [
                    (kind: Property(Status(StateV2(
                        playing_label: "  ",
                        paused_label: "  ",
                        stopped_label: "  "
                    )))),
                    (kind: Property(Widget(ScanStatus)))
                ],
                center: [
                    (
                        kind: Property(Song(Title)),
                        style: (fg: "{{foreground}}", modifiers: "Bold"),
                        default: (
                            kind: Property(Song(Filename)),
                            style: (fg: "{{foreground}}", modifiers: "Bold")
                        )
                    )
                ],
                right: [
                    (kind: Property(Status(Volume)), style: (fg: "{{foreground}}", modifiers: "Bold")),
                    (kind: Text(" % "), style: (fg: "{{color4}}", modifiers: "Bold"))
                ]
            ),
            (
                left: [
                    (kind: Text(" "), style: (fg: "{{color4}}", modifiers: "Bold")),
                    (kind: Property(Status(Elapsed)), style: (fg: "{{foreground}}")),
                    (kind: Text(" | "), style: (fg: "{{color4}}", modifiers: "Bold")),
                    (kind: Property(Status(Duration)), style: (fg: "{{foreground}}")),
                ],
                center: [
                    (
                        kind: Property(Song(Artist)),
                        style: (fg: "{{color12}}", modifiers: "Bold"),
                        default: (
                            kind: Text("Unknown Artist"),
                            style: (fg: "{{color12}}", modifiers: "Bold")
                        )
                    ),
                    (kind: Text(" | ")),
                    (
                        kind: Property(Song(Album)),
                        style: (fg: "{{color4}}"),
                        default: (
                            kind: Text("Unknown Album"),
                            style: (fg: "{{color4}}", modifiers: "Bold")
                        )
                    )
                ],
                right: [
                    (kind: Text(" "), style: (fg: "{{color4}}")),
                    (kind: Property(Status(RepeatV2(
                        on_label: "",
                        off_label: "",
                        on_style: (fg: "{{foreground}}", modifiers: "Bold"),
                        off_style: (fg: "{{color8}}", modifiers: "Bold")
                    )))),
                    (kind: Text(" | "), style: (fg: "{{color4}}")),
                    (kind: Property(Status(RandomV2(
                        on_label: "",
                        off_label: "",
                        on_style: (fg: "{{foreground}}", modifiers: "Bold"),
                        off_style: (fg: "{{color8}}", modifiers: "Bold")
                    )))),
                    (kind: Text(" | "), style: (fg: "{{color4}}")),
                    (kind: Property(Status(ConsumeV2(
                        on_label: "󰮯",
                        off_label: "󰮯",
                        oneshot_label: "󰮯󰇊",
                        on_style: (fg: "{{foreground}}", modifiers: "Bold"),
                        off_style: (fg: "{{color8}}", modifiers: "Bold")
                    )))),
                    (kind: Text(" | "), style: (fg: "{{color4}}")),
                    (kind: Property(Status(SingleV2(
                        on_label: "󰎤",
                        off_label: "󰎦",
                        oneshot_label: "󰇊",
                        off_oneshot_label: "󱅊",
                        on_style: (fg: "{{foreground}}", modifiers: "Bold"),
                        off_style: (fg: "{{color8}}", modifiers: "Bold")
                    )))),
                    (kind: Text(" "), style: (fg: "{{color4}}")),
                ]
            ),
        ],
    ),
)
