window {
    margin: 0px;
    border: 1px solid {{color4}};
    background-color: {{background}};
}

#input {
    margin: 5px;
    border: none;
    color: {{foreground}};
    background-color: {{color0}};
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: {{background}};
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: {{background}};
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: {{foreground}};
}

#entry.activatable #text {
    color: {{background}};
}

#entry > * {
    color: {{foreground}};
}

#entry:selected {
    background-color: {{color0}};
}

#entry:selected #text {
    font-weight: bold;
}
